* {
  margin: 0 0;
  padding: 0 0;
  color: white;
}

body, .breadcrumb {
  background-color: #021A32;
  font-family: 'Open Sans', sans-serif;
}

nav {
  font-size: 2em;
  font-family: 'Lustria', serif;
}

nav .title {
  font-size: 1.2em;
}

.container {
  position: absolute;
  right: 14%;
  width: 1100px;
}

.navbar-color a {
  color: white;
}

#logo {
  position: relative;
  right: 1%;
}

.gameContainer {
  width: 1180px;
  height: 530px;
  background-color: #010F1C;
}

.userInfo {
  position: relative;
  left: 65%;
}

.board {
  position: absolute;
  float: right;
  width: 250px;
  height: 100%;
  right: 17%;
}

#startGame {
  background-color: #003815;
  font-weight: bold;
  border: solid 1px;
}

.data-container {
  position: absolute;
  top: 20%;
}

.ranking-container {
  background-color: #010F1C;
  width: 270px;
  height: 530px;
  float: right;
}

.ranking-title {
  position: absolute;
  right: -2.5%;
  top: 3%;
}

.ranking-title h4 {
  font-size: 2.3em;
}

.ranking {
  position: absolute;
  width: 200px;
  height: 420px;
  top: 15%;
  left: 87.3%;
  border: solid 2px black;
  border-radius: 5px;
  background-color: #133B61;
}

.ranking .row {
  width: 200px;
  height: 30px;
  float: right;
  text-align: center;
}

.selected {
  background-color: #010F1C;
  border-radius: 1px;
  border: 1px solid;
  height: 23px;
}

.ranking .row h5 {
  font-size: 1em;
  float: left;
  text-align: left;
}

.ranking .row .col h4 {
  font-size: 1em;
}

.ranking .row h5 span{
  font-weight: bold;
}

#rankings {
  position: absolute;
  top: 2%;
  left: 5%;
}

.card {
  background-color: #010F1C;
  border: none;
}

.card-header {
  border: none;
}

.high-score {
  font-family: 'Lustria', serif;
  height: 70px;
}

.score {
  font-family: 'Lustria', serif;
  height: 80px;
}

h1.card-title {
  width: 230px;
  text-align: center;
}

.volume {
  font-family: 'Lustria', serif;
  height: 50px;
}

.form-group {
  margin-left: 20px;
}

.boton {
  height: 20px;
}

.controls {
  font-family: 'Lustria', serif;
  height: 150px;
}

.instructions {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 30px;
  top: 70px;
  width: 200px;
}

.config {
  font-family: 'Lustria', serif;
  top: 10px;
  height: 80px;
}

#config {
  border-radius: 3px;
  font-size: 1.5em;
  height: 50px;
  background-color: #0E6D31;
}

#volumeLabel {
  position: absolute;
  bottom: 15px;
}

#volume {
  position: absolute;
  top: 28px;
}

#game {
  position: absolute;
  overflow: hidden;
  float: left;
  width: 640px;
  height: 100%;

  background-image: url("../images/background3.png"), url("../images/background2.png"), url("../images/background1.png");
  background-size: auto, auto, auto;
  background-repeat: repeat, repeat, repeat;
  background-position: 0px 0px, 0px 0px, 0px 0px;
}

.gameStarted {
  animation: background-animation linear 8s infinite;
}

@keyframes background-animation {
  from {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  to {
    background-position: 0px 530px, 0px 1590px, 0px 3180px;
  }
}

.spaceship {
  position: absolute;
  width: 68px;
  height: 80px;
  background-image: url("../images/player.png");
  background-size: auto;
  background-repeat: no-repeat;
  bottom: 40px;
  left: 250px;
}

.enemy {
  position: absolute;
  width: 54px;
  height: 76px;
  background-image: url("../images/enemy.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.powerUp {
  position: absolute;
  width: 54px;
  height: 76px;
  background-image: url("../images/powerUp.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.dropObject1 {
  animation: dropObject1 linear 3s;
}

@keyframes dropObject1 {
  from {
    top: -50px;
  }
  to {
    top: 550px;
  }
}

.explosion {
  width: 64px;
  height: 64px;
  background: url("../images/explosion.png") 0 0;
  animation: explosion 0.7s steps(5);
}

@keyframes explosion {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  100% {
    background-position-y: -320px;
    background-position-x: -320px;
  }
}

.reward {
  width: 76px;
  height: 76px;
  background: url("../images/reward.png") 0 0;
  animation: reward 0.3s steps(6);
}

@keyframes reward {
  0% {
    background-position: 0px  0px;
  }
  100% {
    background-position: -456px 0px;
  }
}

.gameOver {
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 4em;
  font-family: sans-serif;
  color: #991316;
  font-weight: bold;
}


.left {
  animation: move-left ease-out 0.2s;
  animation-fill-mode: forwards;
}

.right {
  animation: move-right ease-out 0.2s;
  animation-fill-mode: forwards;
}

@keyframes move-left {
  100% {
    transform: rotate(-20deg)
  }
}

@keyframes move-right {
  100% {
    transform: rotate(20deg)
  }
}

.animationPause {
  animation-play-state: paused;
}
