body {
  background-color: #2A1B0A;
  text-align: center;
  text-shadow: 2px 2px 2px #3b3a30;
  font-family: 'Open Sans', sans-serif;
}

canvas {
  position: relative;
  top: 5px;
  border : solid 4px;
  border-style: outset;
}

h1 {
  font-size: 65px;
}

h2 {
  text-shadow: 1px 1px 1px 3px;
}

#matchResult {
  font-size: 4em;
  color: white;
  font-family: monospace;
  text-shadow: 1px 1px 2px #FAFAFA;
  /* text-shadow: 3px 0 0 #FAFAFA, -3px 0 0 #FAFAFA, 0 3px 0 #FAFAFA, 0 -3px 0 #FAFAFA, 2px 2px #FAFAFA, -2px -2px 0 #FAFAFA, 2px -2px 0 #FAFAFA, -2px 2px 0 #FAFAFA; */
}

.container {
  width: 1130px;
  height: 640px;
  background-image: url("images/containerBackground.jpg");
  border-radius: 5px;
  box-shadow: 0 5px 15px 10px #000;
}

#player1, #player2, #matchResult {
  text-transform: capitalize;
}

#player1 {
  color: #1209A1;
}

#player2 {
  color: #FF0000;
}

.onTurn {
  box-shadow: 0 1px 4px 2px #ffeead;
  border-radius: 8px;
  background-color: #F2F5A9;
}
